@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Welcome</h1>
        <p>Fred Soloy</p>
        <p class="lead">Hello to the world of C#</p>
    </div>
</div>
